<div id="carousel">
  <% products.each_with_index do |product, index| %>
    <div class="item-<%= index %>">
      <figure class="image">
        <%= link_to product do %>
          <%= image_tag product.cover_image if product.cover_image.attached? %>
        <% end %>
      </figure>
    </div>
  <% end %>
</div>
