<%= link_to cart_path do %>
  <i class="fas fa-shopping-cart"></i>
  <span data-cart-target="count" data-action="addToCart@document->cart#updateCart">
    (<%= current_cart.items.count %>)
  </span>
<% end %>
