<script async defer src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['google_map_api_key'] %>&callback=initMap"></script>
<p class="has-background-light has-text-centered is-size-4 py-4"><%= t('google_map.location') %></p>
<div id="map"></div>
<style>
  #map {
    height: 40%;
    border-style: solid;
    border-radius: 6px;
  }
  html, body {
    height: 100%;
    padding: 0;
  }
</style>
<script>
  let map;

  function initMap() {
    const localtion = { lat: 25.0335398, lng: 121.5620666 }
    map = new google.maps.Map(document.getElementById("map"), {
      center: localtion,
      zoom: 16,
    });
    const marker = new google.maps.Marker({
      position: localtion,
      map: map,
    });
  }
</script>

