@import 'bulma-carousel';

.hidden {
  display:none
}

section.subscribe {
  h3 {
    margin-bottom: 1em;
  }
}

.lang {
  margin-top: 8px;
  width: 100px;
}

.my-4 {
  margin-top: 8px;
  margin-bottom: 8px;
}

.mt-1 {
  margin-top: 2px;
}

.mt-4 {
  margin-top: 8px;
}

.mr-2 {
  margin-right: 4px;
}


.py-4 {
  padding-top: 8px;
  padding-bottom: 8px;
}