<div class="notification is-primary is-marginless has-text-centered">
  <button class="delete is-medium"></button>
  <i class="far fa-comment fa-lg"></i> <span class="is-medium"><%= notice %></span>
</div>